<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeyjam.room.dao.mapper.RoomMapper">

	<sql id="selectRoom">
		SELECT	room_id,
				room_name, 
				gender, 
				max_bed, 
				available_bed,
				price
		FROM 	room
	</sql>
	
	<sql id="select-join-room">
		SELECT 	a.room_id, 
				a.available_bed, 
				b.number_of_beds
		FROM 	room a, 
				reserved_room b
		WHERE 	a.room_id = b.room_id
	</sql>
	
	<sql id="select-reserved-room">
		SELECT	room_id, number_of_beds, reservation_id
		FROM	reserved_room
	</sql>
	
	<resultMap type="reservedRoom" id="reserved-resultmap">
		<id column="reservation_id" property="reservationId"/>
		<result column="room_id" property="roomId"/>
		<result column="number_of_beds" property="numberOfBeds"/>
	</resultMap>
	
	<resultMap type="room" id="room-resultmap">
		<id column="room_id" property="roomId"/>
		<result column="room_name" property="roomName"/>
		<result column="gender" property="gender"/>
		<result column="max_bed" property="maxBed"/>
		<result column="available_bed" property="availableBed"/>
		<result column="price" property="price"/>
	</resultMap>
	
	<resultMap type="room" id="searchRoom-resultmap" extends="room-resultmap">
		<association property="reservedRoom" javaType="reservedRoom">
			<id column="reservedRoom_id" property="roomId" />
			<result column="number_of_beds" property="numberOfBeds"/>
		</association>
	</resultMap>
	
	<!-- 방 전체 조회 -->
	<select id="selectAllRoom" resultMap="room-resultmap">
		<include refid="selectRoom"/>
	</select>
	
	<!-- 인원으로 방 조회 -->
	<select id="selectRoomByPeople" parameterType="_int" resultMap="room-resultmap">
		<include refid="selectRoom" />
		WHERE max_bed = #{value}
	</select>
	
	<!-- 이름으로 방 조회 -->
	<select id="selectRoomByRoomName" parameterType="string" resultMap="room-resultmap">
		<include refid="selectRoom" />
		WHERE room_name = #{value}
	</select>
	
	<!-- 방 번호로 조회 -->
	<select id="selectRoomByRoomNum" parameterType="_int" resultMap="room-resultmap">
		<include refid="selectRoom"/>
		WHERE room_id = #{value}
	</select>
	
	<!-- 예약가능 인원을 성별로 조회 -->
	<select id="selectAvailableRoomByGender" parameterType="_int" resultMap="room-resultmap">
		<include refid="selectRoom"/>
		WHERE room_id LIKE '%'||${gender}||'%'
	</select>

	
	<!-- 검색조건 - 인원&checkIn&checkOut 으로 조회 -->
	<select id="selectRoomBySearch" parameterType="map" resultMap="searchRoom-resultmap">
	<![CDATA[
	SELECT 	a.room_id, 
			a.available_bed, 
			b.number_of_beds
	FROM 	room a, 
			reserved_room b
	WHERE 	a.room_id = b.room_id
	AND 	b.gender LIKE '%'||#{gender}||'%'
	AND 	a.available_bed >= #{numberOfGuests}
	AND 	b.check_in <= #{checkOut}
	AND 	b.check_out >= #{checkIn}
	
	]]>
	
	</select>
	
	<!-- 전체 방 목록에서 제외할(예약된) room_id 조회-->
	<select id="selectReservedRoomId" parameterType="map" resultMap="reserved-resultmap">
		<include refid="select-reserved-room"/>
		<![CDATA[
		WHERE	check_in <= #{checkOut}
		AND		check_out >= #{checkIn}
		AND 	gender LIKE '%'||#{gender}||'%'
		]]>
	</select>
	
	
	<select id="selectMaxById"	parameterType="_int" resultType="_int">
		select max_bed from room where room_id = #{value}
	</select>
</mapper>	