<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeyjam.reservation.dao.mapper.reservationMapper">

	<sql id="column-sql">
		reservation_id, 
		email, 
		check_in, 
		check_out, 
		number_of_guests, 
		room_id, 
		gender,
		payment_status
	</sql>
	
	<sql id="select-reservation-sql">
		SELECT
		<include refid="column-sql"/>
		FROM reservation
	</sql>
	
	<sql id="select-reservation-join-member-sql">
		SELECT	r.reservation_id,
				r.email,
				r.check_in,
				r.check_out,
				r.number_of_guests,
				r.room_id,
				r.gender,
				r.payment_status,
				m.email, m.nickname, m.phone_num
		FROM	reservation r, member m
	</sql>
	
	<resultMap type="reservation" id="reservation-join-member-resultmap" extends="reservation-resultmap">
		<collection property="member" resultMap="com.honeyjam.member.dao.mapper.memberMapper.member-resultmap"/>
	</resultMap>
	
	<resultMap type="reservation" id="reservation-resultmap">
		<id column="reservation_id" property="reservationId"/>
		<result column="email" property="email"/>
		<result column="check_in" property="checkIn"/>
		<result column="check_out" property="checkOut"/>
		<result column="number_of_guests" property="numberOfGuests"/>
		<result column="room_id" property="roomId"/>
		<result column="gender" property="gender"/>
		<result column="payment_status" property="paymentStatus"/>
	</resultMap>
	

	<insert id="insertReservation" parameterType="reservation">
	<selectKey keyProperty="reservationId" resultType="_int" order="BEFORE">
	select  reservation_id_seq.NEXTVAL from dual
	</selectKey>
		INSERT INTO reservation VALUES (#{reservationId} ,#{email},#{checkIn},#{checkOut},#{numberOfGuests},#{roomId},#{gender},#{paymentStatus})
	</insert>	
	
	<select id="selectReservationById" parameterType="string" resultMap="reservation-join-member-resultmap">
		<include refid="com.honeyjam.member.dao.mapper.memberMapper.select-member-join-reservation-sql"/>
		WHERE m.email = r.email(+)
		AND r.email = #{value}
		order by reservation_id desc
	</select>
	
	<select id="selectReservationByDate" parameterType="java.sql.Date" resultMap="reservation-resultmap">
		<!-- <include refid="select-reservation-sql"/> -->
		select * from reservation
		 where check_in &lt;= #{value}
		and check_out > #{value}
		
	</select>
	
	<delete id="deleteReservationByEmailDate" parameterType="list">
		DELETE FROM 	reservation
		WHERE			email = #{email}
		AND				check_in = #{checkIn}
	</delete>
	
	<delete id="deleteReservationById" parameterType="_int">
		DELETE FROM	 	reservation 
		WHERE			reservation_id = #{value}
	</delete>
	
</mapper>











