<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeyjam.member.dao.mapper.memberMapper">


	<sql id="column-sql">
		email, password, nickname, phone_num, admin
	</sql>
	<sql id="select-sql">
		SELECT
		<include refid="column-sql" />
		FROM member
	</sql>
	
	<sql id="select-member-join-reservation-sql">
		SELECT m.email,
			   m.password,
			   m.nickname,
			   m.phone_num,
			   m.admin,
			   r.reservation_id, r.check_in, r.check_out, r.number_of_guests, r.room_id, r.gender, r.payment_status					
		FROM member m, reservation r
	</sql>
	
	
	<resultMap type="member" id="member-resultmap">
		<id column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="phone_num" property="phoneNum"/>
		<result column="admin" property="admin"/>
	</resultMap>
	
	<resultMap type="member" id="member-join-reservation-resultmap" extends="member-resultmap">
		<collection property="reservationList" ofType="reservation">
			<id column="reservation_id" property="reservationId"/>
			<result column="check_in" property="checkIn"/>
			<result column="check_out" property="checkOut"/>
			<result column="number_of_guests" property="numberOfGuests"/>
			<result column="room_id" property="roomId"/>
			<result column="gender" property="gender"/>
			<result column="payment_status" property="paymentStatus"/>
		</collection>
	</resultMap>
	
	
	
	<update id="updateMemberById" parameterType="member">
		UPDATE member
		SET password = #{password},
			nickname = #{nickname},
			phone_num = #{phoneNum},
			admin = #{admin}
		WHERE email = #{email}
	</update>
	
	

	<insert id="insertMember" parameterType="member">
		INSERT INTO member
		VALUES (#{email}, #{password}, #{nickname}, #{phoneNum}, #{admin})
	</insert>


	<!-- <select id="selectMemberById" resultMap="member-resultmap" parameterType="string">
		<include refid="select-sql" />
		WHERE email = #{value}
	</select> -->
	
	<select id="selectMemberById" resultMap="member-join-reservation-resultmap" parameterType="string">
		<include refid="select-member-join-reservation-sql" />
		WHERE m.email=r.email(+)
		and m.email=#{value}
	</select>
	
	<select id="selectMemberByPhone" resultMap="member-join-reservation-resultmap" parameterType="string">
		<include refid="select-member-join-reservation-sql" />
		WHERE m.email=r.email(+)
		and m.phone_num=#{value}
	</select>
	
	
	
	<select id="selectMemberByNickname" resultMap="member-resultmap" parameterType="string">
		<include refid="select-sql" />
		WHERE nickname = #{value}
	</select>
	
	<select id="selectMemberByIdnPhone" parameterType="map" resultMap="member-resultmap">
		<include refid="select-sql"/>
		WHERE 	email = #{email}
		AND		phone_num = #{phoneNum}
	</select>
	
<!-- 	<select id="selectMemberByPhone" resultMap="member-resultmap" parameterType="string">
		<include refid="select-sql" />
		WHERE phone_num = #{value}
	</select> -->
	
	<delete id="deleteMemberById" parameterType="string">
		delete from member where email = #{value}
	</delete>
	
	<select id="selectBoardById" parameterType="string">
	</select>

</mapper>