<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeyjam.board.dao.mapper.BoardMapper">


	<sql id="select-board">
		SELECT *
		FROM board
	</sql>

	<resultMap type="board" id="board-resultmap">
		<id column="item_num" property="itemNum" />
		<result column="content" property="content" />
		<result column="title" property="title" />
		<result column="write_date" property="writeDate" />
		<result column="email" property="email" />
	</resultMap>

	
	<select id="selectAllItems" resultMap="board-resultmap">
		<include refid="select-board"/>	order by item_num desc
	</select>
	
	
	<select id="selectItemsById" parameterType="String" resultMap="board-resultmap">
		<include refid="select-board"/>
		where email= #{value}
	</select>
	
	<select id="selectItemsByTitle" parameterType="string" resultMap="board-resultmap">
		<include refid="select-board"/>
		where title = #{value}
	</select>
	
	<select id ="selectItemByNum" parameterType="int" resultMap="board-resultmap">
		<include refid="select-board"/>
		where item_num = #{value}
	</select>
	
	<!-- insert -->
	<insert id="insertBoard" parameterType="board">
		INSERT INTO board
		VALUES (board_seq.nextval,#{content},#{title},#{writeDate},#{email})
	</insert>
	
	<!-- update -->
	<update id="updateBoardById" parameterType="board">
		UPDATE board
		SET item_num = #{itemNum},
		    content = #{content},
		    title = #{title},
		    write_date = #{writeDate}
		WHERE email = #{email}
	</update>
	
	<!-- delete -->
	<delete id="deleteBoardById" parameterType="string">
		DELETE from board where email = #{value}
	</delete>
	
	<delete id="deleteBoardByNum" parameterType="_int">
		DELETE from board where item_num = #{value}
	</delete>
	
	
	<!-- 페이징용!!!! -->
	<select id="selectItemCount" resultType="_int">
		select count(*) from board		

	</select>
	
	<!-- 특정 페이지의 항목들을 조회하는 메소드 -->
	<select id="selectItemList" parameterType="map" resultMap="board-resultmap">
	<![CDATA[
		select item_num, title, write_date, email 
		from(
		
			select rownum rn, item_num, title , write_date, email
				from(
						select item_num, title, write_date,email from board order by item_num desc 
					)
				
			where rownum <= #{end}
			)
		where rn>= #{begin}  
	]]>

	</select>

	
</mapper>